/* .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out.mapboxgl-ctrl-icon {
  background-image: url("../node_modules/mapbox-gl/src/css/svg/mapboxgl-ctrl-zoom-out.svg");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-compass.mapboxgl-ctrl-icon {
  background-image: url("../node_modules/mapbox-gl/src/css/svg/mapboxgl-ctrl-compass.svg");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in.mapboxgl-ctrl-icon {
  background-image: url("../node_modules/mapbox-gl/src/css/svg/mapboxgl-ctrl-zoom-in.svg");
} */

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crime-marker {
  background: none;
  border: none;
}

.crime-marker img {
  width: 25px;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body,
html,
#root,
.mapcont {
  height: 100%;
  width: 100%;
}
